body {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2;
  overflow-y: auto;
}
aside {
  flex: 1;
  overflow-y: auto;
}
